{
  "api_base_url": {{ api_base_url|tojson }},
  "server_id": {{ server_id|tojson }},
  "organization_id": {{ organization_id|tojson }},
  "api_key": {{ api_key|tojson }},
  "interval_seconds": {{ interval_seconds|default(60) }}
}
